fastapi
uvicorn[standard]
python-multipart
pandas
numpy
plotly
scikit-learn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
streamlit
matplotlib
aiofiles
requests

langchain
langgraph
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters

chromadb
sentence-transformers

ollama
requests